$colors: (
  ash: #f2f2f2,
  black: #000,
  blue: #2d9cdb,
  dark-shade1: #333,
  dark-shade2: #12122c,
  green: #219653,
  grey-shade1: #4a4a4a,
  grey-shade2: #4f4f4f,
  grey-shade3: #828282,
  grey-shade4: #ccc,
  primary: #f5a623,
  red: #eb5757,
  white: #fff,
);

$font-families: (
  flutterwave: 'Flutterwave',
  opensans: 'Open Sans',
  icomoon: 'icomoon',
);

$font-weights: (
  regular: 400,
  semi-bold: 600,
  bold: 700,
);

$font-sizes: (
  xx-small: 0.9rem,
  x-small: 1.2rem,
  small: 1.4rem,
  regular: 1.6rem,
  medium: 1.8rem,
  large: 2.4rem,
  m-large: 3rem,
  x-large: 3.6rem,
);

$max-width: 114rem;
$gutter-width: 1rem;
$num-of-columns: 12;

$break-points: (
  // large mobile phones
  smallest: 480px,
  // small tabs or phablets
  small: 600px,
  // tabs and ipads
  medium: 768px,
  // large tabs / large ipads / small laptops
  large: 990px,
  // laptops / desktops
  largest: 1200px
);

$device-sizes: (
  sm: 'small',
  md: 'medium',
  lg: 'large',
  xl: 'largest',
);

$sides: (top, bottom, left, right);

$card-width: 47rem;
$modal-close-position: 5rem;

$header-position: 5;
