$colors: (
  ash: #f2f2f2,
  black: #000,
  blue: #2d9cdb,
  dark-shade1: #333,
  dark-shade2: #12122c,
  grey-shade1: #4a4a4a,
  grey-shade2: #4f4f4f,
  grey-shade3: #828282,
  primary: #f5a623,
  red: #f00,
  white: #fff,
);

$font-families: (
  flutterwave: 'Flutterwave',
  opensans: 'Open Sans',
  icomoon: 'icomoon',
);

$font-weights: (
  regular: 400,
  semi-bold: 600,
  bold: 700,
);

$font-sizes: (
  xx-small: 9px,
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 18px,
  large: 24px,
  x-large: 36px,
);
