.button {
  @include font-size(small);
  @include font-weight(bold);
  display: inline-block;
  border-radius: 4px;
  border: 0;
  padding: 1.4rem 2.2rem;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.8s ease;
  transition-property: background-color, color, box-shadow, transform;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));

  @include respond(large) {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--sm {
    padding: 1.4rem 1.8rem;
  }

  &--primary {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background: color(primary);
    color: color(white);

    @include respond(large) {
      &:hover {
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
        border: 0;
        background: darken($color: color(primary), $amount: 10%);
        transform: translateY(-2px);
      }
    }
  }
}
