h1,
h2,
h3,
h4 {
  @include font-size(large);
  @include font-weight(bold);
  margin-bottom: 1.5rem;
  text-align: left;
  line-height: 1.2;
  color: color(dark-shade1);
}

p,
li,
a {
  @include font-weight(regular);
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: color(dark-shade1);
}
