.home {
  .event {
    &__image {
      width: 100%;
      height: 25rem;
    }

    &__date {
      @include font-size(x-small);
      @include font-family(opensans);
      @include font-weight(semi-bold);
      margin-bottom: 5px;
      text-transform: uppercase;
      color: color(grey-shade2);
    }

    &__name {
      @include font-size(medium);
      @include font-weight(bold);
      @include link;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    &__price {
      @include font-weight(regular);
      margin-bottom: 0;
      text-transform: capitalize;

      @include respond(large) {
        @include font-size(regular);
      }
    }
  }

  &__header {
    padding-bottom: 0;

    @include respond(large) {
      padding-bottom: 3rem;
    }

    h1 {
      text-transform: unset;
    }
  }
}
