.home {
  .event {
    &__image {
      width: 100%;
      height: 25rem;

      @include respond(large) {
        height: 30rem;
      }
    }

    &__date {
      @include font-size(x-small);
      @include font-family(opensans);
      @include font-weight(semi-bold);
      margin-bottom: 5px;
      text-transform: uppercase;
      color: color(grey-shade2);
    }

    &__name {
      @include font-size(medium);
      @include font-weight(bold);
      @include link;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    &__price {
      @include font-weight(regular);
      margin-bottom: 0;
      text-transform: capitalize;

      @include respond(large) {
        @include font-size(regular);
      }
    }
  }

  &__header {
    padding-bottom: 0;

    @include respond(large) {
      padding-bottom: 3rem;
    }

    h1 {
      text-transform: unset;
    }
  }

  #no-event {
    text-align: center;

    svg {
      display: inline-block;
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 10rem;

      @include respond(small) {
        width: 15rem;
      }

      @include respond(medium) {
        margin-top: 4rem;
      }

      @include respond(large) {
        width: 20rem;
      }
    }
  }
}
