.payment-fb {
  &__card {
    @include form-card;
    margin: 0 auto;
    padding: 5rem;
    max-width: $card-width;

    &--auto {
      min-height: auto;
    }
  }

  &__text {
    @include font-size(medium);
    margin: 0 auto 1.5rem;
    text-align: center;
    max-width: calc(#{$card-width} - 10rem);

    @include respond(large) {
      @include font-size(large);
    }
  }
}
